{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid p-2">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="Campaign Sent">Tổng số nhân viên</h5>
                            <h3 class="my-2 py-1">20</h3>

                        </div>

                    </div> <!-- end row-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->

        <div class="col-lg-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="New Leads">...</h5>
                            <h3 class="my-2 py-1">12</h3>

                        </div>

                    </div> <!-- end row-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->

        <div class="col-lg-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="Deals">...</h5>
                            <h3 class="my-2 py-1">2</h3>

                        </div>

                    </div> <!-- end row-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->

        <div class="col-lg-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="Booked Revenue">...</h5>
                            <h3 class="my-2 py-1">22</h3>

                        </div>

                    </div> <!-- end row-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Biểu đồ chấm công tháng này</h3>
            </div>
            <div class="card-body">
                {{ graph_pie|safe }}
            </div>
        </div>

        <!-- Biểu đồ cột cho 12 tháng qua -->
        <div class="card mt-4">
            <div class="card-header">
                <h3>Biểu đồ thống kê chấm công 12 tháng qua</h3>
            </div>
            <div class="card-body">
                {{ graph_bar|safe }}
            </div>
        </div>

    </div>
</div>
{% endblock %}